# 第0章：Pandas套件的基礎

## 0.1 DataFrame物件

In [24]:
import pandas as pd
import numpy as np

pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

In [25]:
movies = pd.read_csv('data/movie.csv')
movies

      color director_name  ...  aspect_ratio  movie_facebook_likes
0     Color  James Ca...   ...         1.78         33000
1     Color  Gore Ver...   ...         2.35             0
2     Color   Sam Mendes   ...         2.35         85000
3     Color  Christop...   ...         2.35        164000
4       NaN  Doug Walker   ...          NaN             0
...     ...          ...   ...          ...           ...
4911  Color  Scott Smith   ...          NaN            84
4912  Color          NaN   ...        16.00         32000
4913  Color  Benjamin...   ...          NaN            16
4914  Color  Daniel Hsia   ...         2.35           660
4915  Color     Jon Gunn   ...         1.85           456

[4916 rows x 28 columns]

In [26]:
movies.head()

   color director_name  ...  aspect_ratio  movie_facebook_likes
0  Color  James Ca...   ...         1.78         33000
1  Color  Gore Ver...   ...         2.35             0
2  Color   Sam Mendes   ...         2.35         85000
3  Color  Christop...   ...         2.35        164000
4    NaN  Doug Walker   ...          NaN             0

[5 rows x 28 columns]

In [27]:
movies.head(3)

   color director_name  ...  aspect_ratio  movie_facebook_likes
0  Color  James Ca...   ...         1.78         33000
1  Color  Gore Ver...   ...         2.35             0
2  Color   Sam Mendes   ...         2.35         85000

[3 rows x 28 columns]

### 小編補充

In [28]:
x = 'Taiwan'
x[1]

'a'

## 0.2 DataFrame的屬性（attributes）

In [29]:
movies = pd.read_csv('data/movie.csv')
columns = movies.columns
index = movies.index
data = movies.values

In [30]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [31]:
index

RangeIndex(start=0, stop=4916, step=1)

In [32]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [33]:
type(index)

pandas.core.indexes.range.RangeIndex

In [34]:
type(columns)

pandas.core.indexes.base.Index

In [35]:
type(data)

numpy.ndarray

In [36]:
issubclass(index.__class__, pd.Index)

True

In [37]:
issubclass(columns.__class__, pd.Index)

True

In [38]:
index.to_numpy()

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [39]:
columns.to_numpy()

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

## 0.3 Series物件

In [40]:
fruit = pd.Series(['apple', 'banana', 'grape', 'pineapple'], index=['a', 'b', 'c', 'd'])
fruit

a        apple
b       banana
c        grape
d    pineapple
dtype: object

In [41]:
fruit = pd.Series(['apple', 'banana', 'grape', 'pineapple'])
fruit

0        apple
1       banana
2        grape
3    pineapple
dtype: object

In [42]:
fruit.dtypes

dtype('O')

In [43]:
fruit.size

4

## 0.4 Pandas中的資料型別

In [44]:
movies = pd.read_csv('data/movie.csv')
movies.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [45]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [46]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB